body,#app {
  font-family: $font !important;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  font: $font;
  line-height: 2em;
}

ul {
  padding: 0 1em;
  margin-top: 0.2em;
}
li {
  line-height: 2em;
}
