.resultsHeader {
  top: 64px;
  position: fixed;
  background-color: #1B2A32;
  text-align: start;
  z-index: 1005;
  width: 100%;
  ul {
    list-style: none;
    padding: 10px 0;
    display: inline-block;
    min-width: 15%;
    margin: 0;

    li {
      line-height: 2.2em;
      padding-left: 1em;
      cursor: pointer;
    }
  }
}